html {
  height: 100%;
}

body {
  height: 100%;
}

nav {
  text-transform: uppercase;
}

header {
  height: 50px;
}

button {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

.card-deck {
  padding-top: 20px;
  padding-bottom: 50px;
}

.card:hover {
  transform: scale(1.1);
}

.table {
  max-width: 800px;
}

main {
  padding-top: 50px;
  padding-bottom: 20px;
}

.carousel{
  padding-top: 20px;
  padding-bottom: 50px;
}
